.btn {
    padding: 50vh 50vh;
    background-color: aqua;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn.ativo {
    background-color: green;
}
